ul {
    list-style: none;
}

.figure {
    margin: 0px;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    outline: 0px !important;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

/* Styles
---------------------------------*/
body {

    font-family: 'Open Sans',sans-serif;
    font-size:14px;
    line-height: 24px;
    background-color: #eafaea;

}
.body-background{
    background-color: #eafaea;
}
.row-content{
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}
.row-content200{
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px solid #656665;
    min-height: 200px;
}
.row-content100{
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    min-height: 100px;
}
.row-content50{
    margin: 0 auto;
    padding: 25px 0px 25px 0px;
    min-height: 50px;
}
p{
    margin: 0 0 15px;
}
h1,h2,h3,h4{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color:#282428;
    margin: 0;
}
h1{
    font-size: 30px;
    text-transform: uppercase;
}
h2{
    font-size: 26px;
}
h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    color: #282428 ;
    line-height: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
}

a,
a:focus,
a:active {
    outline: none!important;
}

img {
    max-width: 100%;
}
/*button*/
.button,
.button:hover {
    padding: 0;
    background-color: #49c32c ;
    text-transform: uppercase;
    color: #fff;
    border-color: #49c32c ;
    height: 42px;
    line-height: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.button10{
  border: none;
    padding: 0 10px;  
}
.button10:hover{
    border: none;
    padding: 0 10px; 
}
.button40{
   border: none;
    padding: 0 40px; 
}
.button40:hover{
   border: none;
    padding: 0 40px; 
}
.button50{
    border: none;
    padding: 0 30px;
    width: 230px;
}
.button50:hover{
    border: none;
    padding: 0 30px;
    width: 230px;
}
.button1520{
    border: none;
    padding: 15px 20px;
}
.button1520:hover{
    border: none;
}
.button20{
     /*border: none;*/
    /*padding: 15px 20px; */
    background-color: transparent;
    border: none;
}
.button20:hover{
     border: none;
}
.button:hover {
    background-color: rgba(73, 195, 44, .95);
}
.padTop30{
    padding-top: 30px;
}
.padTop20{
    padding-top: 20px;
}
.padTop5{
    padding-top: 5px;
}
.padTop10{
    padding-top: 10px;
}
.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 275px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.fa-pencil-square-o,.fa-eye,.green-text,.fa-info-circle{
    color: #49c32c ;
}
.fa-trash,.red-text{
    color:#f00;
}
.jobTitleForm .table-fixed tbody {
    height: 275px;
    overflow-y: auto;
    width: 100%;
}
.scroll-panel-table {
    max-height:330px;
    overflow-y: auto;
    overflow-x: auto;

}
.currentInternalProjectsView .table-fixed tbody {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}
.showDepartmentsView .table-fixed tbody {
    height: 235px;
    overflow-y: auto;
    width: 100%;
}
.aParent ,.display-flex{
    display: flex;
    flex-direction: row;
}
.mainShowEmployeeSection .aParent{
justify-content: flex-end;
}
.test-flex{
   display: flex;
    align-items: flex-start;
}
.display-flex .item-1,.display-flex .companyProject-item-1{
    width: 30%;
}
.display-flex .item-2,.display-flex .companyProject-item-2{
    width: 70%;
}
.company-setting-flex{
    display: flex;
    flex-direction: row-reverse;
}
.viewCompanyPResourceSection .aParent,
.userRoleIndexSection  .aParent,
.showIndivisualProjectGraphSection .aParent,
.showAllProjectsGraphSection .aParent{
  justify-content:flex-end;
     justify-content:space-around;
}

.showClientSection .aParent{
    justify-content: flex-end;
}
.funcModalJobTitle .aParent,
.funcModalCompanyDept .aParent,
.funcModalCompanyHoliday .aParent{
    justify-content: flex-end;

}
.table-border-grey{
    border: 1px solid #d3e0e9;
}
.nopadding {
    padding-right: 0 !important;

}
.currentInternalProjectsView a,
.mainShowEmployeeSection a,
.showCompanyCurrentClientSection a,
.showNonAppSetion a,
.showCompanyCurrentEmployeesSection a{
text-decoration: none;
}

.nopaddingrightleft{
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.edit-company{
    float: right;
}
.clearBoth{
    clear: both;
}
.group:before,
.group:after{
    content: "";
    display: table;
}
.group:after{
    clear: both;
}
.group{
    zoom:1;
}
.group a,group i{
    float: right;
}
.btn-form-align{
    margin-top: 25px;
    margin-left: 10px;
}
